html {
    background: lightgray;
    /* background-image: url(full-bloom/full-bloom.png); */
}

body {
    
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background:#ffffff;
    /*control what happen to the content that is too big to fit into the area*/ 
    overflow:auto;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    width: 100%;
}

nav {
    width: 100%;
    margin: 0;
   
}

span {
    float: left;
    padding: 15px;
    background-color: #4aaaa5;
    color: white;
    width: 200px;
    text-align: center;
    margin-left:200px;
}

ul {
    float: right;
    margin: 10px;
    justify-content: center;
    color: lightgrey;
}

li {
    float: left;

    /*Remove the bullet point*/
    list-style: none;

    padding: 5px;   
}

.rightborder {
    border-right: 2px solid gray;
}

section {
    padding: 25px;
    background: #ffffff;
    width: 960px;
    border: 1px solid lightgrey; 
    margin: 100px 200px;
    max-width: 1200px;
    height: 500px;
    
    
}

img {
    width: 200px;
    float: left;
    margin-right: 10px;
}


.aboutme {
    color: #4aaaa5;
    justify-content: center;
    font-size: 35px;

}




footer {
    background:grey;
    border-top: 5px solid #4aaaa5;
    margin: 0;
    text-align: center;
    padding: 20px;

}

@media screen and (max-width:980px) {
    
    section {
        width: 500px;
        margin: 40px 300px 200px 40px;
    }
    p {
        font-size:12px;
    }
    span {
        margin: 0 40px;
    }

}
@media screen and (max-width:768px) {
    section {
        width: fit-content;
        height: fit-content;
        margin: 40px 10px 200px 10px;
    }
    span {
        margin: 0 10px;
    }
}

@media screen and (max-width:640px) {
    section {
        width: fit-content;
        height: fit-content;
        margin: 40px 10px 200px 10px;
    }
    span {
        width: 100%;
        text-align: center;
        margin: 0;
    }
    
    p {
        font-size: 14px;
    }
    
    img {
        width: 300px;
        height: 250px;
        position: absolute;
        padding: 20px 56px;
        
    }
    div.paragraph {
        padding: 271px 0 0;
        font-size: 20px;
        
    }
    ul {
        float: none;
        margin: auto;
        display: flex;
        justify-content: center;
        padding: 3px;
    }
}